.ff{
    width: 100ppx;
}
.ffff{
    background-image: url(./Jowhareh_galleries_3_poster_6ddbe8e1-def5-4b28-805b-658fae81177e.jpeg);
}
<style>
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
</style>
.dd{
    margin-top: 70px;
}
.gg{
    transition: ease-in;
    
}
.tk{
    height: 70px;
}
.bb{
    background-color: rgb(53, 51, 51);
}
